.page-header
  %h1 Pages

= render 'layouts/admin/nav'

%ol.nested-sortable
  = nested_pages @pages

- if @pages.any?
  .form-actions
    = link_to('Update positions', '#', :id => 'simple-pages-save-order', :class => 'btn btn-primary')
    %span#simple-pages-revert-order.hide
      or
      = link_to 'Revert positions', admin_pages_path, :class => 'btn'